<div class="clear"></div>

<div class="box" id="list-items">

    <p>You may report these errors to support@einvoices.biz</p>
    <ul class="menu" id="section-menu">
        [% FOREACH er = errors %]
        <li class=email title="Email to support team"><b>Error:</b>  <BR/>
            <b>Message : </b>[% er %] <BR/>
            <b>URL :</b> [%  %] <BR/>
            <b>Body Params:</b> 
        </li>
        [% END %]
    </ul>
</div>				


