<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>

		[% PROCESS head 
			title = "User form " %]

		<script language="javascript">

		[% INCLUDE js %]

		validation_rules = {

				oldpassword :{
					equalTo: "#oldpassword1"
				},
				password: "required",
				password_again: {
					equalTo: "#password"
				}
		};

		$(document).ready(function(){

			init_sidebar_forms();
		});

		 </script>
		  <style>
			input.error { border: 1px solid red; width: auto; }
			label.error {
				background: url('http://dev.jquery.com/view/trunk/plugins/validate/demo/images/unchecked.gif') no-repeat;
				padding-left: 16px;
				margin-left: .3em;
			}
			label.valid {
				background: url('http://dev.jquery.com/view/trunk/plugins/validate/demo/images/checked.gif') no-repeat;
				display: block;
				width: 16px;
				height: 16px;
			}
		</style>


	</head>
	<body>
		<div class="container_16">
			
			<div class="clear"></div>
			<!-- sidebar form container -->
			<div class="grid_4 sidebar">

				[% INCLUDE logo %]	
			<h3>In firefox we belive</h3>

			<div class="block" style="height:258px;background:url(/static/images/firefox_logo.png);background-repeat:no-repeat;"> </div>
           	<!-- sidebar form container-->


			</div><!-- grid_4 -->
			<div class="grid_12 mainbar" >

				[% INCLUDE menu %]
				<div class="box" > 
				<div class="box" id="content"> <!-- begin form box -->
					
					[% INCLUDE user/form %]

				</div>
				</div>
			</div>
				
			<div class="clear"></div>
			<div class="grid_16" id="site_info">

				[% INCLUDE footer %]
			</div>
			<div class="clear"></div>
		</div>
			</body>
</html>
